<div class="job-post-company pt-120 pb-120">
    <div class="container">
        <div class="row justify-content-between">
            <!-- Left Content -->
            <div class="col-xl col-lg">
                <!-- job single -->
                <div class="single-job-items mb-50">
                    <div class="job-items">
                        <div class="company-img company-img-details">
                            <a href="#"><img src="~/img/job-list1.png" alt=""></a>
                        </div>
                        <div class="job-tittle">
                            <a href="#">
                                <h4>Digital Marketer</h4>
                            </a>
                            <ul>
                                <li>Creative Agency</li>
                                <li><i class="fas fa-map-marker-alt"></i>Toronto, Ontario</li>
                                <li>$65000 - $70000</li>
                            </ul>
                        </div>
                    </div>
                    <div class="items-link items-link2 f-right">
                        <a href="job_details.html">Full Time</a>
                        <span>7 hours ago</span>
                    </div>
                </div>

                <div class="single-job-items mb-50">
                    <div class="job-items">
                        <div class="company-img company-img-details">
                            <a href="#"><img height="85" weight="85" src="~/img/airbnb.png" alt=""></a>
                        </div>
                        <div class="job-tittle">
                            <a href="#">
                                <h4>Full Stack Developer</h4>
                            </a>
                            <ul>
                                <li>Airbnb</li>
                                <li><i class="fas fa-map-marker-alt"></i>Toronto, Ontario</li>
                                <li>$80000 - $95000</li>
                            </ul>
                        </div>
                    </div>
                    <div class="items-link items-link2 f-right">
                        <a href="job_details.html">Full Time</a>
                        <span>7 hours ago</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
                <!-- job single End -->
